## Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

## Kompilacja
Debug/
Release/
x64/
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.log
*.tlog
*.cache
*.ipch
*.aps
*.ncb
*.pch
*.sbr
*.sdf
*.opensdf

## Pliki czasowe / systemowe
*.bak
*.tmp
*.log
*.~*
*.swp
*.DS_Store
Thumbs.db

## Inne tymczasowe
*.old
*.orig

## Symulacje
*.vcd
*.wlf
*.out
